:root{
    --color-purple : #6d38e0;
    --color-grey : #d2ccff;
}

.banner_container{
    min-height: 40%;
    min-width: 100%;
    /* background-color: var(--grey); */
}

.call_to_action--container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.call_to_action{
    background-color: var(--color-grey);
    height: 240px;
    width: 320px;
}

.active{
    border: 2px solid white;
}