:root {
  --color-purple: #6d38e0;
  --color-grey: #d2ccff;
}

.banner_container {
  min-height: 40vh;
  min-width: 100vw;
  background-color: var(--color-grey);
  background-image: url("https://moviestack.onrender.com/static/2pqmfzopqq.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.call_to_action--container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.call_to_action--card {
  background-color: var(--color-grey);
  background-image: url("https://moviestack.onrender.com/static/0r81x6xczm.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 440px;
}

.call_to_action{
  background-color: black;
  color: white;
}

@media (max-width: 640px) {
  .call_to_action--card {
    width: 42%;
  }
}

.active {
  border: 2px solid white;
}

.banner_movie--container {
  min-width: 100%;
  min-height: 30%;
  background-color: #6d38e0;
}

.card-text {
  font-size: 0.7rem;
}
